<app-navbar></app-navbar>
<!--<div class="row">
    <div *ngFor="let u of misUniversidades" class="col-s6">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <p>{{u.nombre}}</p>
            </div>
            <div class="card-body">
                <img card-image src="{{u.imagen}}" alt="Photo of a Shiba Inu">
            </div>
            <div class="card-footer">{{u.lugar}}</div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-s12-m6-l4" *ngFor="let u of misUniversidades">
      <div class="card small">
        <div class="card-image">
          <img src="{{u.imagen}}">
          <span class="card-title">{{u.nombre}}</span>
        </div>
        <div class="card-content">
          <p>{{u.lugar}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!--Librería Material y Flex-->
<!--<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>Mountains {{num}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/img/logo.png">
      <mat-card-content>
        <p>
          The Himalayas is a mountain range in Asia.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>-->

<div class="container" style="margin-top: 18px;">
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let u of misUniversidades">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{u.nombre}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{u.imagen}}">
        <mat-card-content>
          <p>
            {{u.lugar}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
